.h2 {
    text-align: center;
    font-size: 36px;
}
.text {
    &__name {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: var(--text-color);
        position: relative;
        z-index: 3;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
            color: var(--hover-nav);
        }
    }

}
.menu {
    &__link {
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        color: var(--ul-color);

        &:hover {
            transform: scale(1.03);
            color: var(--text-color);
        }

    }
}
.info {
    &__number {
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        color: var(--text-color);
    }
    &__time {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: var(--time-color);
    }
}

.text-fut {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

.text-job {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    font-style: normal;
    font-family: Arial, sans-serif;
}

.text-cont {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--bg-color);
}

.text-phone {
    text-align: center;
    margin: 0;
    color: rgb(30, 34, 33);
}

.footer {
    &__link {
        font-size: 16px;
        color: var(--ul-color);
        font-weight: 400;
        line-height: 130%;
        text-align: center;
        font-style: normal;

        &:hover {
            transform: scale(1.03);
            color: var(--text-color);
        }
    }

    &__privacy {
        color: var(--ul-color);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        margin: 0;

        &:hover {
            transform: scale(1.03);
            color: var(--text-color);
        }
        
    }

}

@media (max-width: $tablet-bp) {
    .text {
        &__name {
            font-size: 24px;
        }
    }
}