// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --bgborder-color: #303030;
    --hover-nav: red;
    --time-color: rgb(121, 121, 121);
    --text-color: #000;

    // Fonts
    --main-font: "Inter", "Arial", sans-serif;
}
