.contact {
    display: flex;
    margin-top: 155px;
    flex-direction: column;
    gap: 50px;
    padding: 80px 40px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: var(--bgborder-color);

    &__info {
        display: flex; /* Используем Flexbox */
        flex-wrap: wrap; /* Разрешаем перенос строк */
        justify-content: space-between; /* Располагаем элементы равномерно */
        gap: 20px; /* Отступы между карточками */
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background-color: var(--bg-color);
        min-width: 240px; /* Минимальная ширина карточки */
        max-width: 260px;
        flex: 1; /* Карточки растягиваются на доступное пространство */
        transition: all 0.3s ease; /* Плавное изменение размеров */
    }

    &__call {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }


    &__name {
        text-align: center;
        margin: 0;
    }

    &__text {
        display: flex;
        width: 900px;
        margin-left: 100px;
    }

    &__map {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
.map {
    width: 880px;
    height: 500px;
}

@media (max-width: $tablet-bp) {
    .contact {
        &__text {
            width: 100%;
            margin-left: 0;
            padding: 0 20px;
        }
        &__info {
            justify-content: center; /* Центрируем элементы при переносе */
        }

        &__card {
            flex: none; /* Отключаем растягивание */
        }
    }
    .map {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: $mobile-bp) {
    .contact {
        &__info {
            flex-direction: column; /* Карточки в столбец */
            align-items: center; /* Центрируем по горизонтали */
            gap: 10px; /* Минимальный отступ */
        }

        &__card {
            width: 90%; /* Карточки занимают 90% ширины экрана */
            max-width: 350px; /* Отключаем максимальную ширину */
            min-width: 200px; /* Минимальная ширина для удобства чтения */
        }
    }
    .map{
        height: 300px;
    }
}