.footer {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 120px;
    background-color: var(--main-color-secondary);

    &__comp {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__logo {
        font-size: 40px;
        font-weight: 800;
        color: var(--main-color);

        &:hover {
            color: var(--ul-color);
        }

        &:active {
            color: var(--main-color);
            transform: scale(0.98);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

}

.social {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;

    &__back {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__pics {
        display: flex;
        gap: 20px;
    }

    &__link {
        
        & > svg {
            fill: var(--main-color);
        }

        &:hover {
            & > svg {
                fill: var(--main-color);
            }
        }
    }
}


@media (max-width: $tablet-bp) {
    .footer {
        padding: 60px 60px;
    }
}

@media (max-width: $mobile-bp) {
    .footer {
        padding: 60px 30px;
        gap: 40px;
        flex-direction: column;
        align-items: center; /* Центрируем элементы по горизонтали */
        justify-content: center; /* Центрируем элементы по вертикали */
        text-align: center; /* Центрируем текст */
    }
}