
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4; 
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

@media (max-width : $tablet-bp) {
    .header {
        padding: 12px 0;
    }
}

.menu__container {
  position: relative;
  display: inline-block;

  @media (max-width: $tablet-bp) {
    margin-left: 80px;
  }
  @media (max-width: $mobile-bp){
    margin-left: 123px;
  }


  .dropdown-menu {
    position: absolute;
    left: -6px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 0px 0px 10px 10px;

    li {
      padding: 7px 7px;
      width: 115px;
      text-align: center;

      a {
        text-decoration: none;
        color: #333;

        &:hover {
          color: #ff0000;
        }
      }
    }

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);

      @media (max-width: $tablet-bp) {
        transform: translateX(120px);
        border-radius: 0px 10px 10px 0px;
        top: -30px;
        
      }

      @media (max-width: $mobile-bp){
        transform: translateY(-10px);
        border-radius: 0px 0px 10px 10px;
        top: 45px;
      }
    }
  }

  @media (max-width: $tablet-bp) {
    transform: translateX(0px);
    left: 0px;
    margin-top: 0px;
    
  }
  @media (max-width: $mobile-bp){
    transform: translateX(-10px);
  }
}
