.nav {
    display: flex;
    align-items: center;
    gap: 80px;

    &__menu-logo {
        display: flex;
        align-items: center;

        gap: 16px;
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        border: none;
    }

    &__b {
        width: 50px;
    }

    &__logo {
        width: 90px;
        height: 90px;
    }

    /////
    &__pics {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__social {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__footer {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.contacts1 {
    display: none;
}

.nav__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.nav__burger span:nth-child(1) {
    transform: translateY(-10px);
}

.nav__burger span:nth-child(2) {
    transform: translateY(10px);
}

.nav.open .nav__burger span {
    background-color: black;
}

.nav.open .nav__burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.nav.open .nav__burger span:nth-child(2) {
    opacity: 0;
}
.nav.open .nav__burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.contacts {
    display: flex;
    gap: 30px;

    &__icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__pic {
        width: 40px;
    }

    &__tg {
        width: 42px;
    }
    &__ml {
        width: 42px;
    }
}

.phone {
    &__time {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: $tablet-bp) {
    .nav {
        gap: 341px;

        &__menu-logo {
            display: flex;
            gap: 20px;
        }

        &__logo {
            width: 80px;
        }

        &__burger {
            display: block;
            width: 40px;
            height: 40px;
            z-index: 5;
            background-color: transparent;
            margin-left: 10px;
        }
    }

    .menu {
        position: absolute;
        left: -300px;
        top: 99px;
        width: 300px;
        height: 300px;
        display: block;
        padding: 75px 20px 20px 20px;
        transition: transform 0.5s;
        z-index: 4;
        background-color: var(--bg-color);
        align-items: center;
        border-radius: 0px 0px 50px 0px;

        &__link {
            // color: var(--text-color);
            display: block;
            padding: 10px 0;
            text-align: center;
        }
    }

    .nav.open .menu {
        transform: translateX(100%);
    }
}
@media (max-width: 1111px) {
    .text__name {
        display: none;
    }

    .phone {
        padding-top: 10px;
    }
    .nav {
        gap: 50px;
        padding: 0 7px 0 7px;
    }
}

@media (max-width: 807px) {
    .nav {
        gap: 200px;
    }
}
@media (max-width: 625px) {
    .nav {
        gap: 100px;
    }
}

@media (max-width: $mobile-bp) {
    .nav {
        gap: 50px;

        &__menu-logo {
            gap: 7px;
        }

        &__logo {
            position: absolute;
            z-index: 5;
            // width: 50px;
            left: 40.2%;
            // margin-top: -25px;
        }

        &__burger {
            margin: 0;
        }
    }

    .contacts {
        opacity: 0;
    }

    .menu {
        left: -375px;
        width: 367px;
        height: 360px;
        top: 75px;
    }

    .contacts1 {
        display: flex;
        padding: 20px 0px;
        gap: 30px;

        &__icons1 {
            display: flex;
            gap: 20px;
        }

        &__pic1 {
            width: 30px;
        }
    }
}
