.nav {
    display: flex;
    align-items: center;
    gap: 80px;

    &__logo {
        width: 90px;
        height: 90px;
    }
    &__burger {
        position: absolute;
        opacity: 0;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__menu-logo {
        display: flex;
        align-items: center;
        gap: 13px;
    }
    &__menu-logo p {
        margin-left: 10px;
    }
    &__contacts {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__social {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    &__footer {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}

.contacts {
    &__icon {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__tg,
    &__ml {
        width: 42px;
        height: 42px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;

    &__time {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
#circle {
    transition: fill 0.5s;
}

@media (max-width: $tablet-bp) {
    .nav {
        gap: 211px;
        &__footer {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400;
            line-height: 28px;
            text-decoration-line: underline;
            pointer-events: none;
            position: absolute;
            opacity: 0;
            transition: color 0.2s ease-in;

            &:hover {
                color: var(--main-color);
            }
        }
        &__logo {
            margin-left: 36px;
        }

        &__menu {
            transition: opacity 0.2s ease-in-out;
            position: absolute;
            top: 100%;
            left: 0;
            align-items: center;
            flex-direction: column;
            width: 375px;
            padding: 40px 0 254px 0;
            background-color: var(--bg-color);
            box-shadow: 3px 3px 10px rgb(0 0 0 / 0.1);
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            pointer-events: none;

            .menu__link {
                font-size: 24px;
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px; /* Расстояние между элементами */
        }
        &__burger {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            opacity: 1;
        }
        &__social {
            display: flex;
            gap: 10px;
            position: absolute;
            opacity: 0;
            align-items: center;
            pointer-events: none;

            & > svg {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
            }

            &_active {
                opacity: 1;
                z-index: 12;
                left: 51px;
                top: calc(100% + 330px);
                pointer-events: all;
            }
        }
        &__phone {
            transition: color 0.2s ease-in;
            &:hover {
                color: var(--main-color);
            }
        }
        .politics_active {
            opacity: 1;
            z-index: 11;
            pointer-events: all;
            top: calc(100% + 456px);
            left: 78px;
        }

        .requisites_active {
            opacity: 1;
            z-index: 11;
            pointer-events: all;
            top: calc(100% + 486px);
            left: 151px;
        }
        .menu {
            &_active {
                opacity: 1;
                z-index: 11;
                pointer-events: all;
            }
        }
        .toggle-menu {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

@media (max-width: $mobile-bp) {
    .nav__list-logo {
        flex-direction: column;
        align-items: center;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .nav__contacts {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .contacts__icon {
        margin-top: 10px;
    }
}
