.nav {
    display: flex;
    align-items: center;
    gap: 80px;

    &__logo {
        width: 90px;
        height: 90px;
    }
    &__list-logo {
        display: flex;
        align-items: center;
        gap: 13px;
    }
    &__list-logo p {
        margin-left: 10px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.contacts {
    &__icon {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__tg,
    &__ml {
        width: 42px;
        height: 42px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;

    &__time {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
#circle {
    transition: fill 0.5s;
}

@media (max-width: $tablet-bp) {
    .nav {
        gap: 50px;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px; /* Расстояние между элементами */
        }
    }
}