<footer class="footer">
    <article class="footer__comp">
        <a href="#" class="footer__logo reset-link">OOO SVD</a>
        <span class="text-fut">Все права защищены</span>
        <a href="privacy.html" class="footer__privacy reset-link">Все права защищены</a>
    </article>

    <ul class="footer__menu reset-list">
        <!-- <li><a class="footer__link reset-link" href="">О сервисе</a></li> -->
        <li><a class="footer__link reset-link" href="">Как работает</a></li>
        <li><a class="footer__link reset-link" href="">Поиск вакансий</a></li>
    </ul>

    <div class="social">
        <div class="social__pics">
            <a  class="contacts__tg" href="#">
                <picture><img src=".\assets\images\telegram_icon.svg" alt=""></picture>
            </a>
            <a class="contacts__ml" href="#">
                <picture><img src=".\assets\images\mail_ru_icon.svg" alt=""></picture>
            </a>
                </div>
                <div class="social__back">
                    <a class="footer__link reset-link" href="">Оставить заявку</a>
                </div>
            </div>
</footer>
