<header class="header container">
    <nav class="nav">
        <div class="nav__list-logo">
            <a class="nav__logo" href="/">
                <img src=".\assets\images\logo.svg" alt="logo">
            </a>
            <a href="/" class="reset-link">
                <p class="text__name">СВД</p>
            </a>
        </div>

        <ul class="nav__list list reset-list">
            <li><a href="#about" class="list__text reset-link">О нас</a></li>
            <li><a href="wrapper.html" class="list__text reset-link">Услуги</a></li>
            <li><a href="vacancy.html" class="list__text reset-link">Вакансии</a></li>
            <li><a href="contact.html" class="list__text reset-link">Контакты</a></li>
        </ul>

        <div class="nav__contacts contacts">
            <div class="contacts__info info">
                <div class="info__number">
                    <a class="info__number reset-link" href="tel:+7 (968) 080-34-13">+7 (968) 080-34-13</a>
                </div>
                <div class="info__time">
                    <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                        <circle id="circle" cx="4" cy="4.5" r="4" />
                    </svg>
                    <p>Пн-Пт с 9:00 до 18:00</p>
                </div>
            </div>
            <div class="contacts__icon">
                <a  class="contacts__tg" href="#">
                    <picture><img src=".\assets\images\telegram_icon.svg" alt=""></picture>
                </a>
                <a class="contacts__ml" href="#">
                    <picture><img src=".\assets\images\whatsapp_icon.svg" alt=""></picture>
                </a>
            </div>
        </div>
    </nav>
</header>